<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>76BAA634-896A-4A58-BDE8-879AFB1247D3</string>
	<key>title</key>
	<string>Negro</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
